.Name {
  color: brown;
  font-size: 30px;
}
.Link {
  text-decoration: none;
  color: #fff;
  border: 1px solid black;
  border-radius: 3px;
  margin: 100px;
  padding: 10px;
  background-color: rgb(68, 68, 158)
}

